.NoteDeck{
    display:flex;
    flex-direction: column;
    
    justify-content:flex-start;
}
.NoteDeckNote{
    font-family: sans-serif;
    height: 5vh;
     
    margin-right: 1em;
    margin-left: 1em;
    font-size: 12px;
    color: darkslategrey;
    padding: 5px;
    padding: 3px;
    resize: none;
    border-width: 2px;
    border-color: rgb(169, 167, 167);
}

.NoteDeckTitle{
    font-family: sans-serif;
    height: 2vh;
    
    /* margin-left: 1em; */
    margin: 1em;
    font-size: 12px;
    padding: 3px;
 }