.NoteTitle{
   font-family: sans-serif;
    height: 55px;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 18px;
    padding: 5px;
    padding-left: 10px;
   
    border-width: 2px;
    border-color: rgb(169, 167, 167);
}