.BodyHeader{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 7.5vh;
    padding-top: 17px;
    justify-content: space-between;
    margin-left: 0.2em;
    margin-right: 0.8em;
}